    body {
        margin: 0 auto;
        background-color: rgb(213, 213, 213);
        color: rgb(76, 76, 76);
        align-items: center;
        /* transition: 2000ms ease-in-out; */
        min-width: 500px;
    }

    .intsructions {
        margin-bottom: 3%;
        margin: 0 auto;
        display: block;
        width: 50%;
        font-size: small;
    }

    header {
        text-align: center;
    }

    .wordlebox {
        width: 40%;
        height: auto;
        margin: 0 auto;
        display: grid; /* Makes the container a grid container */
        column-count: 8;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Creates three equal-width columns */
        column-rule: 1px solid #949494;
        box-sizing: content-box;
        padding: 10px;
        min-width: 200px;
    }

    .worrow {
        width: 96%;
        height: 1.5em;
        font-size: 32px;
        text-align: center;
        transition: 500ms ease-in;
    }

    .gameoverpopup {
        text-align: center;
    }

    #quickinvalidpop {
        text-align: center;
        border-radius: 5px;
    }

