    body {
        margin: 0 auto;
        background-color: rgb(213, 213, 213);
        color: rgb(76, 76, 76);
        align-items: center;
    }

    .intsructions {
        margin-bottom: 3%;
        margin: 0 auto;
        display: block;
        width: 50%;
    }

    header {
        text-align: center;
    }

    .wordlebox {
        width: 30%;
        height: auto;
        margin: 0 auto;
        display: grid; /* Makes the container a grid container */
        column-count: 6;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Creates three equal-width columns */
        column-rule: 1px solid #949494;
        padding: 5%;
    }

    .worrow {
        border: 1px solid #ccc;
        width: 100%;
        height: 100%;
        font-size: 32px;
        text-align: center;
        transition: 300ms all ease-in;
    }

